<h1 id="tableLabel">Edit Faculty</h1>
<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Teacehr's Name</mat-label>
        <input matInput [(ngModel)]="faculty.name" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Phone</mat-label>
        <input matInput [(ngModel)]="faculty.phone" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="faculty.email" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Dean</mat-label>
        <input matInput [(ngModel)]="faculty.dean" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Enrolled</mat-label>
        <input matInput [(ngModel)]="faculty.enrolled" />
      </mat-form-field>
    </td>
  </tr>
</table>

<div class="example-button-row">
  <button mat-raised-button color="accent" (click)="editFaculty()">Edit Faculty</button>
</div>
